<div class="pt-4 my-md-5 pt-md-5 border-top text-center">
  <div class="row">>
    <div class="col-6 col-md">
      <h5>Contactenos</h5>
      <ul class=" list-group list-group-flush list-unstyled text-small">
        <li>
          <a >Funcake</a>
        </li>
        <li>
          <a >bussiness-plan@hotmail.com</a>
        </li>
        <li>
          <a > <i class="fas fa-phone"></i> 317 3750814</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Nuestras redes</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a target="_blank"  href="https://www.facebook.com/Funcake_ctg-1065908733525034/?__tn__=%2Cd%2CP-R&eid=ARC690YY7MwrFhPqwY6etv06JahErvSlwSQXAsb97fXGhYSYanMh9cHzVjjlbTHKPvgYvg75MiV4-Psc"> 
            <i class="fab fa-facebook-square"></i>  Funcake_ctg</a>
        </li>
        <li>
          <a href="https://instagram.com/funcake_ctg?igshid=y8zuo1fv7tvs" target="_blank"><i class="fab fa-instagram"></i> funcake_ctg</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Nuestros aliados</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a > 
              <i class="fab fa-facebook-square"></i> Wapas Makeup</a>
          </li>
          <li>
              <a > <i class="fas fa-phone"></i> 300 3124409</a>
            </li>
          <li>
            <a href="https://instagram.com/wapasmakeup?igshid=1tiuqxif3rfdf" target="_blank"><i class="fab fa-instagram"></i> wapasmakeup</a>
          </li>
        </ul>
      </div>
  </div>
</div>