<ng-template #agregaPostre>
    <div [formGroup]="valueLoadsDetails" class="items2ship">
            <div class="title">
                <strong>Crear producto</strong>
            </div>
            <div class="items2ShipRow1">
                <div class="form-group">
                    <label>Nombre</label> <span *ngIf="valueLoadsDetails.controls['handling'].errors?.required">*</span>
                    <input (blur)="eventTouched($event)" type="Number" min="0" [ngStyle]="{'border-color': invalid === true && valueLoadsDetails.controls['handling'].errors?.required ? 'red' : '' }"
                        class="form-control" formControlName="handling">
                </div>
                <div class="form-group">
                    <label>Precio</label> <span *ngIf="valueLoadsDetails.controls['packageTypes'].errors?.required">*</span>
                    <input type="Number" min="0" [ngStyle]="{'border-color': invalid === true && valueLoadsDetails.controls['pieces'].errors?.required ? 'red' : '' }"
                    class="form-control" formControlName="pieces">
                </div>
            </div>
            <div class="items2ShipRow3">
                <div formGroupName="dimensions" class="form-group">
                    <label>Categortia</label>
                    <select name="dimensions" id="" class="form-control" formControlName="units">
                        <option value="in">15 años</option>
                        <option value="cm">Matrimonio</option>
                        <option value="cm">Bautizo</option>
                        <option value="cm">Cumpleaños</option>
                    </select>
                </div>
                <div class="items2ShipRow2">
                        <div class="form-group">
                            <label class=""> Descripcion</label>
                            <input type="text" class="form-control" formControlName="commodityDescription" [ngStyle]="{'border-color': invalid === true && valueLoadsDetails.controls['commodityDescription'].errors?.required ? 'red' : '' }">
                        </div>
                    </div>
            </div>
            <div class="addBotones">
                <div>
                    <button class="btn actionButtons btn-cool " (click)="verifyFields('details')">Agregar</button>
                    <button class="btn  actionButtons btn-cool" (click)="closeModalLoaDetails()">Cancel</button>
                </div>
            </div>
        </div>
</ng-template>
<div class="add">
  <button class="btn agregar btn-cool" (click)="openModal(agregaPostre)">Agregar nuevo producto</button>
</div>
<div class="card-columns">
    <div *ngFor="let producto of heroe.productos; let i = index ">
        <div class="card animated fadeIn fast">
            <img class="card-img-top img-fluid" [src]="producto.img" [alt]="producto.name">
            <div class="card-body">
                <h4 class="card-title">{{ producto.nombre }}</h4>
                <p class="card-text"> {{ producto.bio }} </p>
                <button (click)="verTortas(producto.id)" type="button" class="btn btn-outline-primary btn-block">
              Ver más...
            </button>
            </div>
        </div>
    </div>
</div>